---
import "../components/index.scss";

import { getCollection } from "astro:content";
import Game from '../components/Game.astro';
import Layout from '../components/Layout.astro';
import { preferInternalLinks } from "../components/preferInternalLinks";

const games = await getCollection('games');
games.sort((a,b) => b.data.date.getTime() - a.data.date.getTime());
---

<Layout
	title="SweetHeart Squad"
	description="We make weird stuff."
	image={new URL('/assets/images/SweetHeart%20Squad%20-%20icon.png', Astro.site).toString()}
>

	<Fragment slot="head">
		<link rel="alternate" type="application/rss+xml" title="SweetHeart Squad" href={new URL("rss.xml", Astro.site)} />
	</Fragment>

	{/* LOGO HEADER */}
	<header class="header grid dark-bg">
		<h1>SweetHeart Squad</h1>
	</header>

	{/* SUB-HEADER */}
	<section class="content light-bg">
		<h2 id="tagline">A gaggle of game-makers making weird stuff.</h2>
	</section>

	<main>
		{/* GAMES */}
		{games.filter(i => i.data.showcase).map(i => <Game {...i} />)}

		{/* BIG GAMES LINK */}
		{preferInternalLinks ? (
			<ul>
				{games.map(i => <li><a href={`/${i.id}`}>{i.data.title}</a></li>)}
			</ul>
		) : (
			<section class="content big-link">
				<a href="https://SweetHeartSquad.itch.io" class="button">Play {Math.floor((games.length-1)/10)*10}+ games!</a>
			</section>
		)}

		{/* TEAM */}
		<section class="content team light-bg">
			<h2>SweetHeart Squad is:</h2>
			<nav class="nav">
				<ul>
					<li class="teamicon pixelated"><a href="https://seans.site"><img draggable="false" src="assets/images/team/sean.png" alt="Team Icon - Sean" /><span>Sean&nbsp;S.<br/>LeBlanc</span></a></li><li class="teamicon pixelated"><a href="https://ianmartin.rocks"><img draggable="false" src="assets/images/team/ian.png" alt="Team Icon - IAN" /><span>IAN<br/>MARTIN</span></a></li><li class="teamicon pixelated"><a href="https://github.com/RyanBluth"><img draggable="false" src="assets/images/team/ryan.png" alt="Team Icon - Ryan" /><span>Ryan<br/>Bluth</span></a></li>
					<li class="teamicon pixelated"><a href="https://bsky.app/profile/michaelhetman.bsky.social"><img draggable="false" src="assets/images/team/michael.png" alt="Team Icon - Michael" /><span>Michael<br/>Hetman</span></a></li><li class="teamicon pixelated"><a href="https://www.linkedin.com/in/catherine-wong-5394005a"><img draggable="false" src="assets/images/team/catherine.png" alt="Team Icon - Cat" /><span>Cat<br/>Wong</span></a></li><li class="teamicon pixelated"><a href="https://github.com/ecthurlow"><img draggable="false" src="assets/images/team/emma.png" alt="Team Icon - Emma" /><span>Emma<br/>Thurlow</span></a></li>
				</ul>
			</nav>
		</section>

	</main>

	{/* PRE-FOOTER ICON */}
	<section class="grid dark-bg pre-footer"></section>

	{/* FOOTER WITH LINKS */}
	<footer class="footer">
		<nav class="nav">
			<ul>
				<li class="icon itchmark"><a title="Games on itch.io" href="https://SweetHeartSquad.itch.io">itch.io</a></li>
				<li class="icon blueskymark"><a title="Bluesky" href="https://bsky.app/profile/sweetheartsquad.bsky.social">bluesky</a></li>
				<li class="icon mastomark"><a title="Mastodon" href="https://mastodon.gamedev.place/@SweetHeartSquad" rel="me">mastodon</a></li>
				<li class="icon tumblrmark"><a title="tumblr" href="https://www.tumblr.com/sweetheartsquad">tumblr</a></li>
				<li class="icon twittermark"><a title="Twitter" href="https://twitter.com/SweetHeartSquad">twitter</a></li>
				<li class="icon gitmark"><a title="GitHub" href="https://github.com/SweetHeartSquad">github</a></li>
				<li class="icon emailmark"><a title="Email" href="mailto:SweetHeartSquad@gmail.com">email</a></li>
				<li class="icon rssmark"><a title="RSS" href="/rss.xml">RSS</a></li>
			</ul>
		</nav>
		<p>Copyright © {new Date(games[games.length-1].data.date.getTime()).getFullYear()}-{new Date().getFullYear()} SweetHeart Squad</p>
	</footer>
</Layout>
