---
import "../layouts/index.css";

import { getCollection } from "astro:content";
import Game from '../components/Game.astro';
import Layout from '../layouts/Layout.astro';

const games = await getCollection('games');
games.sort((a,b) => b.data.date.getTime() - a.data.date.getTime());
---

<Layout
	title="SweetHeart Squad"
	description="We make weird stuff."
	image="https://sweetheartsquad.com/assets/images/SweetHeart%20Squad%20-%20icon.png"
>

	<Fragment slot="head">
		<link rel="alternate" type="application/rss+xml" title="SweetHeart Squad" href={new URL("rss.xml", Astro.site)} />
	</Fragment>

	{/* LOGO HEADER */}
	<header class="header grid dark-bg">
		<h1>SweetHeart Squad</h1>
	</header>

	{/* SUB-HEADER */}
	<section class="content light-bg">
		<h2 id="tagline">A gaggle of game-makers making weird stuff.</h2>
	</section>

	<main>
		{/* GAMES */}
		{games.filter(i => i.data.showcase).map(i => <Game {...i.data} />)}

		{/* BIG GAMES LINK */}
		<section class="content big-link">
			<a href="https://SweetHeartSquad.itch.io" class="button">Play {Math.floor((games.length-1)/10)*10}+ games!</a>
		</section>

		{/* TEAM */}
		<section class="content team light-bg">
			<h2>SweetHeart Squad is:</h2>
			<nav class="nav">
				<ul>
					<li class="teamicon pixelated"><a href="https://seans.site"><img draggable="false" src="assets/images/team/sean.png" alt="Team Icon - Sean" /><span>Sean&nbsp;S.<br>LeBlanc</span></a></li><li class="teamicon pixelated"><a href="https://ianmartin.rocks"><img draggable="false" src="assets/images/team/ian.png" alt="Team Icon - Ian" /><span>IAN<br>MARTIN</span></a></li><li class="teamicon pixelated"><a href="https://github.com/RyanBluth"><img draggable="false" src="assets/images/team/ryan.png" alt="Team Icon - Ryan" /><span>Ryan<br>Bluth</span></a></li>
					<li class="teamicon pixelated"><a href="https://bsky.app/profile/michaelhetman.bsky.social"><img draggable="false" src="assets/images/team/michael.png" alt="Team Icon - Michael" /><span>Michael<br>Hetman</span></a></li><li class="teamicon pixelated"><a href="https://www.linkedin.com/in/catherine-wong-5394005a"><img draggable="false" src="assets/images/team/catherine.png" alt="Team Icon - Cat" /><span>Cat<br>Wong</span></a></li><li class="teamicon pixelated"><a href="https://github.com/ecthurlow"><img draggable="false" src="assets/images/team/emma.png" alt="Team Icon - Emma" /><span>Emma<br>Thurlow</span></a></li>
				</ul>
			</nav>
		</section>

	</main>
</Layout>
