---
import Game from '../components/Game.astro';
import Layout from '../layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>

	<!-- LOGO HEADER -->
	<header class="header grid dark-bg">
		<h1>SweetHeart Squad</h1>
	</header>

	<!-- SUB-HEADER -->
	<section class="content light-bg">
		<h2 id="tagline">A gaggle of game-makers making weird stuff.</h2>
	</section>

	<main>
		<!-- GAMES -->
		<Game
			title="How am I Still Waiting for the Bus?"
			tagline="You've been waiting for your bus..."
			description="And waiting. And waiting. And now you're dead! Your soul is being drawn toward the afterlife, but you have to fight the urge. You can't die -- you have to get to WORK!!"
			url="https://sweetheartsquad.itch.io/how-am-i-still-waiting-for-the-bus"
			urlPoster="assets/video/bus.png"
			urlVideo="assets/video/bus.mp4"
		/>
		<Game
			title="BLOOD in the SKY: DEAD OR ALIVE"
			tagline="A story-driven mech battler inspired by Battleship"
			description="Build your mech using a variety of weapons, shields, and parts. Locate and destroy your opponent's cockpit before they get yours."
			url="https://sweetheartsquad.itch.io/blood-in-the-sky"
			urlPoster="assets/video/blood.png"
			urlVideo="assets/video/blood.mp4"
		/>
		<Game
			title="Bleak"
			tagline="A post-apocalyptic farming sim with a vampiric twist"
			description="A cute and laidback nightly farm simulator, where you grow strange and glorious flowers for a charming cast of characters."
			url="https://sweetheartsquad.itch.io/bleak"
			urlPoster="assets/video/bleak.png"
			urlVideo="assets/video/bleak.mp4"
		/>
		<Game
			title="We Follow The Fickle Path"
			tagline="A story about ants."
			description="A sister is One, and one may be lost.<br /><br />A sister of Many, will always have sisters."
			url="https://sweetheartsquad.itch.io/we-follow-the-fickle-path"
			urlPoster="assets/video/fickle path.png"
			urlVideo="assets/video/fickle path.mp4"
		/>
		<Game
			title="Short Rest"
			tagline="A party-based roguelike deckbuilder"
			description="Every card is precious, but some things are more precious than cards... Carefully strategize as you make your way through the dragon's dungeon, and save the village from calamity!"
			url="https://sweetheartsquad.itch.io/short-rest"
			urlPoster="assets/video/short rest.png"
			urlVideo="assets/video/short rest.mp4"
		/>
		<Game
			title="Collar Me Impressed"
			tagline="Design an elegant cat collar with ease and speed!"
			description="A cute cat collar dress-up game with dozens of feline combinations and accessories to choose from!"
			url="https://sweetheartsquad.itch.io/collar-me-impressed"
			urlPoster="assets/video/collar me impressed.png"
			urlVideo="assets/video/collar me impressed.mp4"
		/>
		<Game
			title="Party, Darling?"
			tagline="A weird & abrasive sci-fi adventure game"
			description="A house party turned multi-dimensional murder mystery. Search for clues in a potentially infinite number of procedurally generated mansions."
			url="https://sweetheartsquad.itch.io/party-darling"
			urlPoster="assets/video/party.png"
			urlVideo="assets/video/party.mp4"
		/>
		<Game
			title="Rōshigumi"
			tagline="A traitor threatens the Shogun in this tense shoot-em-up."
			description="You are a ronin, hired by the Rōshigumi to protect the Shogun on his visit to Kyoto. The only problem is, there's a traitor in your midst."
			url="https://sweetheartsquad.itch.io/roshigumi"
			urlPoster="assets/video/roshigumi.png"
			urlVideo="assets/video/roshigumi.mp4"
		/>

		<!-- BIG GAMES LINK -->
		<section class="content big-link">
			<a href="https://SweetHeartSquad.itch.io" class="button">Play our games!</a>
		</section>

		<!-- TEAM -->
		<section class="content team light-bg">
			<h2>SweetHeart Squad is:</h2>
			<nav class="nav">
				<ul>
					<li class="teamicon pixelated"><a href="https://seans.site"><img draggable="false" src="assets/images/team/sean.png" alt="Team Icon - Sean" /><span>Sean&nbsp;S.<br>LeBlanc</span></a></li><li class="teamicon pixelated"><a href="https://ianmartin.rocks"><img draggable="false" src="assets/images/team/ian.png" alt="Team Icon - Ian" /><span>IAN<br>MARTIN</span></a></li><li class="teamicon pixelated"><a href="https://github.com/RyanBluth"><img draggable="false" src="assets/images/team/ryan.png" alt="Team Icon - Ryan" /><span>Ryan<br>Bluth</span></a></li>
					<li class="teamicon pixelated"><a href="https://www.linkedin.com/in/michael-hetman-38624890"><img draggable="false" src="assets/images/team/michael.png" alt="Team Icon - Michael" /><span>Michael<br>Hetman</span></a></li><li class="teamicon pixelated"><a href="https://www.linkedin.com/in/catherine-wong-5394005a"><img draggable="false" src="assets/images/team/catherine.png" alt="Team Icon - Cat" /><span>Cat<br>Wong</span></a></li><li class="teamicon pixelated"><a href="https://github.com/ecthurlow"><img draggable="false" src="assets/images/team/emma.png" alt="Team Icon - Emma" /><span>Emma<br>Thurlow</span></a></li>
				</ul>
			</nav>
		</section>

	</main>
</Layout>
