---
interface Props {
	downloads?: string[];
}
const { downloads } = Astro.props;
if (!downloads || downloads.length <= 0) return null;
---
<section class="downloads">
	<h2>Download</h2>
	<ul>
		{downloads.map(i => {
			const fragments = i.split('/').filter(i => i && i !== 'https:' && i !== 'embeds.seans.site');
			let titleFile = fragments.pop() || '';
			const titleFolder = fragments.pop() || '';
			if (titleFolder) {
				titleFile = titleFile.replace(`${titleFolder}-`, '');
			}
			return (
			<li>
				<a class="button" href={i}>{titleFile}</a>
			</li>
		)})}
	</ul>
</section>
