---
interface Props {
	downloads?: string[];
}
const { downloads } = Astro.props;
if (!downloads || downloads.length <= 0) return null;
---
<section class="downloads">
{
	<h2>Download</h2>
	<ul>
		{downloads.map(i => (
			<li>
				<a href={i}>{i.split('/').filter(i => i).pop()}</a>
			</li>
		))}
	</ul>
}
</section>
