body {
	background-repeat: repeat-x;
	background-position: center top;
	display: flex;
	flex-direction: column;
}

.footer {
	flex: none;
	margin-top: auto;
}

@media screen and (width >= 1280px) {
	body:not(.has-border) {
		background-color: var(--bg2);
	}
}

main {
	background-color: var(--bg);
	position: relative;
	flex: auto;
	overflow: hidden;
	width: 100%;
	max-width: 1280px;
	margin-inline: auto;
}

main h1 {
	text-align: center;
	font-weight: 900;
	margin: 0;
	padding-block: 1rem;
	display: block;

	img {
		max-width: 100%;
		height: auto;
	}
}

section:not(.embed),
main h1 {
	padding-inline: 1rem;
}

p,ul {
	margin-top: 0;
	margin-bottom: 1rem;
}

.embed {
	position: relative;
	width: 100%;
	max-height: 90svh;
	aspect-ratio: 16/9;

	.fullscreen {
		position: absolute;
		bottom: 0.25rem;
		right: 0.25rem;
		background-color: transparent;
		border: none;

		&:before {
			width: 2rem;
			height: 2rem;
			background-color: var(--accent);
			opacity: 1;
			mask-image: url("./icons/fullscreen.svg");
		}
	}

	&:fullscreen {
		.fullscreen {
			display: none;
		}
	}

	iframe {
		display: block;
		border: none;
		background-color: transparent;
		width: 100%;
		height: 100%;
	}
}

.preview {
	text-align: center;

	img {
		max-width: 100%;
		height: auto;
	}
}

.description {
	margin-top: 1rem;
	line-height: 1.4;
	font-weight: 500;

	img {
		width: 100%;
		height: auto;
	}

	a {
		text-decoration: underline;
	}

	details {
		summary {
			margin-left: 0rem;
			padding-left: 0.85rem;
			&::marker {
				color: var(--accent);
			}
		}
	}

	ul {
		margin-left: 0rem;
		padding-left: 2rem;
	}

	blockquote {
		padding-left: 0.75rem;
		margin-left: 1rem;
		font-style: italic;
		border-left: 0.25rem solid;
		border-color: var(--accent);
		border-radius: 0.4rem;
	}
}

.downloads {
	display: flex;
	gap: 0.5em;
	align-items: center;
	flex-wrap: wrap;
	padding-top: 0.5rem;
	> details > summary > h2 {
		display: inline;
	}

	h2 {
		display: inline-block;

		&::after {
			content: ':';
		}
	}
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
		display: contents;
		> li {
			display: contents;

			.button {
				text-decoration: none;
				font-size: inherit;
			}
		}
	}
}


details > summary {
	cursor: pointer;
}
