.header h1 {
	/*z-index: -100;*/
	position: absolute;
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
	margin: auto;
	max-height: 60vh;
	max-width: 85%;

	-webkit-filter: drop-shadow(0px 3vh 0px rgba(100, 0, 50, 0.5));
	filter: drop-shadow(0px 3vh 0px rgba(100, 0, 50, 0.5));

	background-image: url("./SweetHeart Squad - banner.webp");
	background-position: center center;
	background-size: contain;
	background-repeat: no-repeat;

	font-size: 0;
	color: transparent;
}

@media only screen and (max-width: 40em) {
	.header h1 {
		background-image: url("./SweetHeart Squad - banner -small.webp");
	}
}

main > .big-link,
main > .team {
	grid-column: 1 / -1;
	justify-self: stretch;
}

/* HEADER */
.header {
	text-align: center;

	height: 50vw;
	max-height: 100vh;
}

@media (orientation: landscape) {
	.header {
		min-height: 100vh;
	}
}

.team {
	margin-top: 1em;
}

.team .nav {
	margin-bottom: 1em;
}

.team .nav > ul {
	white-space: pre-line;
}

.team .nav .teamicon a {
	position: relative;
	background: var(--accent-light);
	display: inline-block;
	width: 10vw;
	height: 10vw;
	min-width: 7em;
	min-height: 7em;
	border-radius: 50%;
	overflow: hidden;

	transition: transform 1s;
	transition-timing-function: cubic-bezier(0.1, 1.77, 0.45, 0.85);
	transform: scale(1) rotateY(180deg);

	border-bottom: solid .5em var(--accent);
}

.team .nav .teamicon a img {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	display: block;
	max-width: 85%;
	max-height: 85%;
	transform: rotateY(180deg);
	-webkit-filter: drop-shadow(0px .5em 0px var(--accent));
	filter: drop-shadow(0px .5em 0px var(--accent));

	opacity: 1;
}

.team .nav .teamicon a span {
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;

	font-size: 1.5em;
	line-height: 1em;
	height: 1.5em;
	width: 90%;
	font-weight: 900;
	white-space: normal;
	color: var(--white);

	text-shadow: 0 0px 3px var(--accent);

	transform: rotateY(180deg);

	transition: opacity 1s, transform 1s;
	transition-timing-function: cubic-bezier(0.1, 1.77, 0.45, 0.85);

	opacity: 0;
	backface-visibility: hidden;
}

.team .nav .teamicon:hover a,
.team .nav .teamicon:focus-within a {
	opacity: 1;
	background: var(--accent);
	transform: scale(1.1) rotateY(0deg);
}

.team .nav .teamicon:hover a span,
.team .nav .teamicon:focus-within a span {
	opacity: 1;
	transform: rotateY(0deg);
}

.team .nav .teamicon:hover a img,
.team .nav .teamicon:focus-within a img {
	opacity: .25;
}

.big-link {
	text-align: center;
	margin-top: 1em;
	margin-bottom: 1em;
}
