@font-face {
	font-family: 'Raleway';
	font-display: swap;
	src: url("./Raleway-VariableFont_wght.woff2");
}

@font-face {
	font-family: 'Raleway Fallback';
	src: local("Arial");
	size-adjust: 102%;
	ascent-override: 94%;
	descent-override: 23.4%;
	line-gap-override: 0%;
}

* {
	box-sizing: border-box;
}

:root {
	--white-rgb: 255, 255, 255;
	--black-rgb: 0, 0, 0;
	--bg-rgb: 255, 215, 243;
	--text-rgb: 0, 0, 0;
	--accent-light-rgb: 255, 128, 200;
	--accent-rgb: 200, 70, 150;
	--white: rgb(var(--white-rgb));
	--black: rgb(var(--black-rgb));
	--bg: rgb(var(--bg-rgb));
	--text: rgb(var(--text-rgb));
	--accent-light: rgb(var(--accent-light-rgb));
	--accent: rgb(var(--accent-rgb));
}

html {
	font-family: 'Raleway', 'Raleway Fallback', sans-serif;
	font-size: 100%;
	background-color: var(--bg);
	color: var(--text);
}

body {
	min-height: 100svh;
}

@media only screen and (max-width: 40em) {
	html {
		font-size: 80%;
	}
}

html,
body,
h1,
h2,
h3,
h4,
h5 {
	padding: 0;
	margin: 0;
}

h2 {
	font-weight: 900;
}

hr {
	height: 0;
	border: none;
	border-top: solid 1px rgba(var(--accent-rgb), .1);
	display: block;
	margin-block: 0.75rem;
}

.nav ul {
	list-style-type: none;
	text-align: center;
	display: block;
	margin: 0;
	padding: 0;
}

.nav ul li {
	display: inline-block;
	margin: .25vw;
}

.nav ul li a {
	cursor: pointer;
}

button,
.button {
	text-decoration: none;
	display: inline-block;
	border: solid 1px rgba(var(--black-rgb), .1);
	background-color: var(--accent);
	color: var(--bg);
	font-size: 2em;
	font-weight: 900;
	border-radius: .3em;
	padding: .5em;
	transition: opacity .2s ease-out;
	cursor: pointer;
	outline: none;
	text-shadow: 0 -1px 0px rgba(var(--black-rgb), .1);
	vertical-align: middle;
	margin: 0;
}

button:hover:not(:active),
.button:hover:not(:active),
button:focus:not(:active),
.button:focus:not(:active) {
	opacity: 0.6;
}

button:active,
.button:active {
	margin-top: 1px;
	margin-bottom: -1px;
}

/* GENERAL */
*::selection {
	background: var(--accent);
	color: var(--bg);
}

*::-moz-selection {
	background: var(--accent);
	color: var(--bg);
}

img::selection {
	background: transparent;
}

img::-moz-selection {
	background: transparent;
}

img {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
	-webkit-user-drag: none;
	-khtml-user-drag: none;
	-moz-user-drag: none;
	-o-user-drag: none;
	user-drag: none;
}

a img {
	outline: none;
	border: none;
}

a {
	text-decoration: none;
	color: var(--accent);
	text-decoration: underline;
	transition: opacity .2s ease;
	font-weight: 600;
}

a:hover:not(:active),
a:focus:not(:active) {
	opacity: .6;
}

.pixelated {
	/* nearest-neighbour scaling on images */
	-ms-interpolation-mode: nearest-neighbor;
	image-rendering: -webkit-optimize-contrast;
	image-rendering: -webkit-crisp-edges;
	image-rendering: -moz-crisp-edges;
	image-rendering: -o-crisp-edges;
	image-rendering: optimizeSpeed;
	image-rendering: crisp-edges;
	image-rendering: pixelated;
}


/* ICONS */
.icon:before {
	content: "";
	width: 2.5rem;
	height: 2.5rem;
	display: inline-block;
	border-radius: 50%;
	vertical-align: middle;
	opacity: 0.5;
	background-color: var(--text);
	mask-position: center;
	mask-repeat: no-repeat;
	mask-size: cover;
}

.icon,
.icon a {
	font-size: 0;
	color: transparent;
	width: 2.5rem;
	height: 2.5rem;
}

.icon a {
	position: relative;
	display: inline-block;
	top: -100%;
}

.icon:hover:before,
.icon:focus-within:before {
	opacity: 1;
	background-color: var(--accent-light);
}

.gitmark:before {
	mask-image: url("./icons/github.svg");
}

.emailmark:before {
	mask-image: url("./icons/gmail.svg");
}

.twittermark:before {
	mask-image: url("./icons/twitter.svg");
}

.mastomark:before {
	mask-image: url("./icons/mastodon.svg");
}

.itchmark:before {
	mask-image: url("./icons/itch.svg");
}

.rssmark:before {
	mask-image: url("./icons/rss.svg");
}

.tumblrmark:before {
	mask-image: url("./icons/tumblr.svg");
}

.blueskymark:before {
	mask-image: url("./icons/bluesky.svg");
}


.back-to-home {
	position: fixed;
	top: 0;
	left: 0;
	margin-top: 1rem;
	margin-left: 1rem;
	width: 4rem;
	height: 4rem;
	border-radius: 50%;
	overflow: hidden;

	@media screen and (max-width: 1280px) {
		position: static;
	}

	&::before {
		content: '';
		width: 100%;
		height: 100%;
		display: block;

		background-image: url("/assets/images/SweetHeart Squad - icon.png");
		background-size: 100% 100%;
		background-repeat: no-repeat;
		background-position: center center;
	}
}
