body {
	background-repeat: repeat-x;
	background-position: center top;
}

main {
	max-width: 1280px;
	margin-inline: auto;
}

h1 {
	text-align: center;
}

iframe {
	border: none;
	background-color: black;
	width: 100%;
	max-height: 80svh;
	aspect-ratio: 16/9;
}

p {
	margin-block: 0.5rem;
}
