html {
	text-align: center;
}

.header h1 {
	/*z-index: -100;*/
	position: absolute;
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
	margin: auto;
	max-height: 60vh;
	max-width: 85%;

	-webkit-filter: drop-shadow(0px 3vh 0px rgba(100, 0, 50, 0.5));
	filter: drop-shadow(0px 3vh 0px rgba(100, 0, 50, 0.5));

	background-image: url("./SweetHeart Squad - banner.webp");
	background-position: center center;
	background-size: contain;
	background-repeat: no-repeat;

	font-size: 0;
	color: transparent;
}

@media only screen and (max-width: 40em) {
	.header h1 {
		background-image: url("./SweetHeart Squad - banner -small.webp");
	}
}



/* CONTENT */
.content {
	text-align: center;
	margin-top: 0em;
	margin-bottom: 0em;
}

section.content>h2 {
	padding: .5em 10%;
	width: 80%;
}

main > .big-link,
main > .team {
	grid-column: 1 / -1;
	justify-self: stretch;
}

.content.game {
	margin-inline: auto;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	align-content: center;

	width: 90%;
	max-width: 50em;
}

.content.game:not(:first-of-type) {
	border-top: solid 1px rgba(96, 16, 96, .1);
}

@media only screen and (min-width: 110em) {
	main {
		display: grid;
		justify-items: center;
		grid-template-columns: 1fr 1fr;
	}
	main > *:not(:last-child)::after {
		content: unset;
	}

	.content.game:not(:first-of-type) {
		width: 100%;
		border-top: unset;
	}
}

.content.game .vidwrapper {
	position: relative;
	width: 20em;
	height: 20em;
	margin: 2em;
	border-radius: 50%;
	border: solid .2em rgb(255, 128, 200);
	overflow: hidden;
	text-align: center;
	flex: none;

	box-shadow: 0 1vh 0 rgb(200, 70, 150);
	transform: scale(.95);
	transition: transform .2s cubic-bezier(0.1, 1.77, 0.45, 0.85);
}

.content.game .vidwrapper:hover,
.content.game .vidwrapper:focus-within {
	transform: scale(1.05);
}

.content.game .vidwrapper:active {
	transform: scale(.9);
}

video,
.content.game .vidwrapper img {
	background: #000;
	display: inline-block;
	object-fit: cover;
	object-position: center center;
	width: 100%;
	height: 100%;
}

.content.game .textwrapper {
	text-align: left;
	flex: 1;
}

.content.game .textwrapper p {
	text-align: left;
	flex: 1;
	box-sizing: border-box;
	padding-right: 2em;
}

@media (orientation: portrait) {
	section.content.game {
		flex-direction: column;
	}

	section.content.game .textwrapper {
		text-align: justify;
	}

	section.content.game .textwrapper h2,
	section.content.game .textwrapper h3 {
		text-align: center;
	}

	section.content.game .vidwrapper {
		width: 50vw;
		height: 50vw;
	}
}

@media (orientation: landscape) {
	.content.game:nth-of-type(even) {
		flex-direction: row-reverse;
	}

	.content.game:nth-of-type(even) .textwrapper,
	.content.game:nth-of-type(even) .textwrapper p {
		text-align: right;
	}

	.content.game:nth-of-type(even) .textwrapper p {
		padding-right: 0;
		padding-left: 2em;
	}
}

@keyframes bg {
	from {
		transform: scale(100%);
	}

	to {
		transform: scale(110%);
	}
}

.grid::after {
	animation: bg 16s;
	animation-fill-mode: forwards;
	animation-iteration-count: 1;
	animation-delay: 2s;
	animation-timing-function: ease-in-out;
}

.pre-footer {
	height: 10em;
	text-align: center;
}

.pre-footer:before {
	content: '';
	width: 8em;
	height: 8em;
	margin-top: 1em;
	display: inline-block;
	border-radius: 50%;

	background-image: url("/assets/images/SweetHeart Squad - icon.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center center;
}
